<DOCTYPE html>
<html>
<title>join ejs template</title>
<body>
<h1>join my website</h1>
<section class="messages"> <%= message %></section>
<form action="/join" method="post">
email: <input type="text" name="email"><br />
pwd : <input type="text" name="pwd"><br />
<input type="submit">
</form>
</body>
</html>
