<DOCTYPE html>
    <html>
    <body>
    <form action="email/form" method="post">
     email: <input type="text" name="email"><br />
     pwd: <input type="password" name="pwd"><br />
     <input class="sendbtn" type="submit">
    </form>
    <div class="result"></div>
    <div class='signup'><a href='/join'>Sign up</a></div>
    
    <script>
    document.querySelector('.ajaxsend').addEventListener('click', function(e){
     e.preventDefault();
      var email = document.getElementsByName('email')[0].value;
      var pwd = document.getElementsByName('pwd')[0].value;
      sendAjax('http://localhost:3000/login', {'email': email,'pwd': pwd}
      );
    })
    
    function sendAjax(url, data){
      data = JSON.stringify(data);
    
      var xhr = new XMLHttpRequest();
    			xhr.open('POST', url);
    			xhr.setRequestHeader('Content-Type', "application/json");
                xhr.send(data);
                
                xhr.addEventListener('load', function() {
    				var result = JSON.parse(xhr.responseText);
                    var resultDiv = document.querySelector(".result");
    				if(result.email)  {
                        window.location.href="../main.ejs";
                    }
    				else if (xhr.status === 401) resultDiv.innerHTML = result;
                    else resultDiv.innerHTML = result;
                
    			});
    		}
    </script>
    </body>
    </html>
    